body{
	margin: 0;
	padding 0;
	background: url(coffee.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 1080px;
	padding-bottom: 20px;
}

footer{
position: fixed;
bottom: 0px;
width: 100%;
color: white;
background-color: #333;
text-align: left;
}
.nav {
    
    
    background-color: #333;
    overflow: hidden;
    margin-bottom: 40px;
}


.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.nav a:hover {
    background-color: #ddd;
    color: black;
}


.nav a.active {
    background-color: #4CAF50;
    color: white;
}

.nav input[type=text] {
    
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.nav .search {
    float: right;
margin-right: 70px;
margin-top: 15px;
color: white;
}

.nav .logout{
float: right;
margin-right: 0px;
margin-top: 0px;
color: white;

}

.nav .search button {
    float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;}

h1 {
 text-align: center;
}

.header {
 padding: 2px;

}

.login{
width: 320px;
height: 420px;
background: #333;
color: #fff;
top:50%;
left:50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding: 100px 40px;
}

.login input{
width: 100%;
}

.register input{
width: 100%;
}

.login input[type="text"], input[type="password"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
color: white;
}
.register input[type="text"], input[type="password"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
color: white;
}


.login input[type="submit"]{
border: none;
outline: none;
background: #4CAF50;
color: #fff;
font-size: 16px;
height: 35px;
border-radius: 20px;
}

.register input[type="submit"]{
border: none;
outline: none;
background: #4CAF50;
color: #fff;
font-size: 16px;
height: 35px;
border-radius: 20px;
}


.login input[type="submit"]:hover{
cursor: pointer;
background: green;
}

.register input[type="submit"]:hover{
cursor: pointer;
background: green;
}

.register {
	width: 320px;
	height: 480px;
	background: #333;
	color: #fff;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 50px 40px;
}

.account {
	width: 320px;
	height: 480px;
	background: #333;
	color: #fff;
	top:30%;
	left:50%;
	position: relative;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 50px 40px;
}

.account input[type=text]{
	color: black;
}

.account input[type=email]{
	color: black;
}


.account input[type="submit"]{
border: none;
outline: none;
background: #4CAF50;
color: #fff;
font-size: 16px;
height: 35px;
border-radius: 20px;
}

.avatar{
position: absolute;
width: 80px;
height: 80px;
top: 20px;
left: 120px;
}

.icon{
position: absolute;
width: 40px;
height: 40px;
top: 5px;
right: 90px;
}

.donut {
position: absolute;
left: 25%;
top: 250px;
}
.col-md-4 {
top: 150px;
color: white;
}

.products{
border: 2px solid #333;
background-color: #333;
padding: 5px;
margin-bottom: 5px;

}

.quant{
margin-left: 30px;
width:30%;
}

.table{
color: white;
background-color: #333;
}
.table2{
color: white;
background-color: #333;
width: 50%;
position: relative;
margin-top: 30px;
left: 25%;
}

.checkout{
background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	border-radius: 4px;

}



.checkout:hover{
background-color: #009548;
    border: none;
    color: white;
    padding: 2px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
		border-radius: 4px;
}

@media only screen and (max-width:600px){
.icon{
visibility: hidden;
}
footer{
visibility:hidden;
}
}

